{{#each posts as |post|}}
<article class="post">
    <div>
        <h3><a href="/post/{{post.id}}">{{post.title}}</a></h3>
        <p>Posted by<span>{{post.user.username}}</span></p>
        <p class="date">{{format_date post.created_at }}</p>
        <p>{{post.body}}</p>
    </div>
</article>
{{/each}}